.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
}

input{
    width: 800px;
    height: 40px;

}
header{
    text-align: center;
    background: blue;
    color: white;
}
.searcharea{
    display:grid;
    grid-template-columns: 85% 15%;
    padding: 3px;
}
.btn{
    background: red;
    color: white;
    height: 45px;
    width: 100px;
    border-radius: 5px;
}

